.malumotla{
  background-color: #00008B;
  padding: 0;
}
.haqida ul{
  margin-top: 12px;
}
.haqida li{
  margin-left: 25px;
}
.haqida a{
    font-size: 15px;
    font-weight: 500;
    color: #FFFFFF;
    font-family: "Montserrat";
}
.haqida_img img{
  text-align: right;
  margin-top: 12px;
  margin-left: 180px;

}
.kun-haqida{
  background-color: #17206a;
  padding: 20px 30px;
  cursor: pointer;
}
.kun_text{
  color: #FFFFFF;
  font-size: 13px;
  padding-right: 30px
}
.kun-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.kun-icon i{
  padding-top: 65px;
  padding-left: 15px;
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.kun-icon i:hover{
  transform: translateY(-5px);
  cursor: pointer;
}