
header{
  padding: 15px 0 0 0;
  align-items: center;
}
.logo img{
  width: 75px;
  height: 30px;
  margin-top: 0;
  cursor: pointer;
}
 ul li{
  display: inline !important;
}
ul{
  list-style-type: none;
  transition: all 0.5s !important; 
}
ul a{
  text-decoration: none;
  color: #000;
}
/* .language ul{
  position: absolute;
  background: #ccc;
  padding: 10px 25px;
  top: 25px;
  left: 0;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
} */
/* .language li{
  padding: 10px 0;
} */

.navbar{
  margin-left: 10px;
  padding: 0;
}
.nav-item a{
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 19px;
  margin-left: 15px;
}
nav .nav-item a:hover{
  color: blue;
  text-decoration: none;
}

.gaz-btn{
  margin-right: 10px;
}
.language{
  position: relative;
  margin-top: 5px;
  margin-right: 10px;
  padding: 6px 0 6px 14px;
  background: #ccc;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

/* .language:hover{
  border-radius: 15px 15px 0 0;
} */



.language option{
  background-size: cover !important;
  background: #fff;
}

.search-i .fa-search{
  position: absolute;
  font-size: 15px;
  top: 12%;
  left: 79%;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
  background: #ccc;
  transition: all 0.5s ease !important;

}

.fa-search_not{
  display: block;
}
.fa-search_clik{
   display: none;
}
.fa-times_not{
  display: block;
}
.fa-times_clik{
  display: none;
}
.navbar form{
  position: absolute;
  top: -14px;
  padding: 10px;
  font-size: 14px;
  background-color: transparent;
  transition: all 0.5s;
  width: 100%;
}

.input_not{
  opacity: 1;
}
.input_clic{
  opacity: 0;
}

.search-i span{
  transition: all 0.5s;
}
.search-i .fa-times{
  position: absolute;
  font-size: 25px;
  top: -5%;
  left: 77%;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent !important; 
  transition: 0.8s;
}
.search-i {
  transition: all 0.5s ease !important;
}
.huhudlar{
  align-items: center;
  background: #ccc;
  padding: 0;
}
.viloyatlar ul{
  padding-top: 10px;

}
.viloyatlar li{
  margin-left: 10px; 
  font-size: 12px;
  font-weight: 500;
  
}
.hudud{
    background-color: #17206a;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    line-height: 40px;
    padding: 5px 10px;
}
.hudud:after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    right: -12px;
    width: 0;
    height: 0;
    margin: auto;
    border-style: solid;
    border-width: 25px 0 25px 12px;
    border-color: transparent transparent transparent #17206a;
}
.news-text{
  background-color: #cecece;
  padding-bottom: 115px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 10px;
}

.news-text h2{
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
  padding-top: 10px;
}
.news-text p{
  font-size: 14px;
  font-weight: 500;
  color: #000;
}
.small-news_content{
  padding-left: 15px;
}
.small-news_content h5{
  font-size: 14px;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  
}
.small-news_content hr{
  padding-bottom: 10px;
}
.news img{
  padding-bottom: 10px ;

}
.news h4{
  padding-top: 10px;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.block-title span{
      color: #000000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: block;
    padding-left: 25px;
}
.block-title span::before{
  content: "";
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: transparent;
    border: 4px solid #17206A;
    display: block;
}
.block_title span{
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    display: block;
    padding-bottom: 10px;
}
.block_title_content h6{
  
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #000000;
    padding-top: 10px

}
.main-btn{
    height: 60px;
    display: flex;
    align-items: center;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-left: 25px;
    font-weight: 600;
    font-size: 14px;
    color: #000;
    border-left: 2px solid #2246C5;
    background-color: #cecece;
}
.main-btn i{
  padding-left: 25px;
  padding-right: 40px;
}

