
.navbar-collapse ul{
	margin-left: 24px;
}
@media(max-width: 1024px){
	.navbar-collapse ul{
	margin-left: 4px;
}

}
.navbar-brand{
	margin-left: 138px;
	margin-bottom: 10px;
	cursor: pointer;
}
@media(max-width: 1024px){
	.navbar-brand{
	margin-left: 20px;
	margin-bottom: 10px;
	cursor: pointer;
}

}
.navbar{
	background-color: #fff;
}
.nav-link{
	color: #031C29 !important;
	margin-left: 30px;
	font-size: 16px;
}
@media(max-width: 1024px){
	.nav-link{
	color: #031C29 !important;
	margin-left: 15px;
	font-size: 16px;
}

}
.nav-link:hover{
	color: red !important;
	background: none !important;

}
/* li .nav-link::before{
content: "";
position: absolute;
width: 5px;
height: 5px;
left: 410px;
top: 42px;
background: #D62828;
} */
.menu{
	margin-left: 110px;
	display: inline;
	align-items: center;
}
@media(max-width: 1024px){
	.menu{
	margin-left: 20px;
	display: inline;
	align-items: center;
}

}
@media(max-width: 768px){
	.menu{
	margin-left: 20px;
	display: inline;
	align-items: center;
	justify-content: c;
}

}
.menu span{
	color: #000;
	padding-right: 12px;
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}
.menu img{
	padding-right: 12px;
	cursor: pointer;
}
.kredit{
	display: flex;
	margin: 0 auto;
  background: #F8F8F8;
	padding: 25px 0;
}
.kredit ul{
	margin-left: 112px;
	padding-top: 5px;
}
.kredit ul li{
	display: inline;
	list-style-type: none;
}
.kredit a {
	color: #000;
	text-decoration: none;
	font-size: 16px;
	padding-right: 30px;
}

.kredit button{
	border: 1px solid #031C29;
box-sizing: border-box;
padding: 8px 17px;
margin-left: 148px;
}
@media(max-width: 1024px){
	.kredit{
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
  background: #F8F8F8;
	padding: 25px 0;
}
.kredit ul{
	margin-left: 20px;
	padding-top: 5px;
}
.kredit ul li{
	display: inline;
	list-style-type: none;
}
.kredit a {
	color: #000;
	text-decoration: none;
	font-size: 16px;
	padding-right: 30px;
}

.kredit button{
	border: 1px solid #031C29;
box-sizing: border-box;
padding: 8px 17px;
margin-left: 18px;
margin-right: 18px;
}

}

.visa-electronic{
	background-color: #031C29;
	width: 100%;
	height: 500px;
}
.deposits{
	position: relative;
	top: -55px;
}
.moneys{
	color: #fff;
	margin: 0 150px;
}
.save-money{
	background-color: azure;
	align-items: center;
	padding: 10px 25px;
	align-items: center;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.save-money span{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
padding-left: 20px;
color: #031C29;
}
@media(max-width: 1024px){
	.moneys{
	color: #fff;
	margin: 0 70px;
}
.hick{
	opacity: 0;
}

}
@media(max-width: 768px){
	.moneys{
	color: #fff;
	margin: 0 10px;
	justify-content: center;
}
.deposits{
	position: relative;
	top: 10px;
	justify-content: center;
}
.save-money{
	background-color: azure;
	align-items: center;
	padding: 10px 25px;
	align-items: center;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.hick{
	opacity: 0;
}

}

.service-text{
	padding-left: 147px;
	padding-bottom: 37px;
	margin-top: 60px;
}
.service-text h3{
font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 43px;
	
}
.service-text p{
	font-style: normal;
font-weight: normal;
font-size: 12.8px;
line-height: 17px;


color: #031C29;
}
.services{
	margin: 0 135px;
	position: relative;
	cursor: pointer;
}
.service_img1 img{
	width: 330px;
	height: 100%;
}
.service_content img{
	width: 70%;
	height: auto;
	justify-content: end;
}
.service_img img{
	width: 330px;
	height: 100%;
}
.service_img2 img{
	width: 330px;
	height: 222px;
}

.service-content{
	position: relative;
	bottom: 200px;
	left: 10px;

}
.service-content h3{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
padding: 0 25px;
color: #FFFFFF;

}
.service-content p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
padding: 0 25px;

}
.online{
padding-bottom: 30px;
}
.service_content2{
	position: absolute;
	bottom: 35px;
	left: 40px;
}
.service_content2 h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;

/* primary white */

color: #FFFFFF;

}
.service_content2 p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* primary white */

color: #FFFFFF;
}
.servi_text{
	position: absolute;
	bottom: 20px;
	left: 45px;
}
.servi_text h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;

color: #FFFFFF;
	
}
.servi_text p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
}
@media(max-width: 1024px){
	.service-text{
	padding-left: 90px;
	padding-bottom: 37px;
	margin-top: 60px;
}
.service-text h3{
font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 43px;
	
}
.service-text p{
	font-style: normal;
font-weight: normal;
font-size: 12.8px;
line-height: 17px;


color: #031C29;
}
.services{
	margin: 0 70px;
	position: relative;
	cursor: pointer;
}
.service_img1 img{
	width: 330px;
	height: 100%;
}
.service_img2 img{
	width: 330px;
	height: 100%;
}
.service_content img{
	width: 70%;
	height: auto;
	justify-content: end;
}
.service_img img{
	width: 330px;
	height: 100%;
}

.service-content{
	position: absolute;
	bottom: 10px;
	left: 10px;

}
.service-content h3{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
padding: 0 25px;
color: #FFFFFF;

}
.service-content p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
padding: 0 25px;

}
.online{
padding-bottom: 10px;
}
.service_content2{
	position: absolute;
	bottom: px;
	left: 40px;
}
.service_content2 h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 34px;

/* primary white */

color: #FFFFFF;

}
.service_content2 p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;

/* primary white */

color: #FFFFFF;
}
.servi_text{
	position: absolute;
	bottom: 20px;
	left: 45px;
}
.servi_text h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;

color: #FFFFFF;
	
}
.servi_text p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

color: #FFFFFF;
}

}
@media(max-width: 768px){
	.service-text{
	padding-left: 90px;
	padding-bottom: 37px;
	margin-top: 60px;
}
.service-text h3{
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 33px;
	
}
.service-text p{
	font-style: normal;
font-weight: normal;
font-size: 12.8px;
line-height: 17px;


color: #031C29;
}
.services{
	margin: 0 10px;
	position: relative;
	cursor: pointer;
}
.service_img1 img{
	width: 330px;
	height: 100%;
}
.service_img img{
	width: 330px;
	height: 100%;
}
.service_content img{
	width: 70%;
	height: auto;
	justify-content: end;
}
.service_img2 img{
	width: 330px;
	height: 100%;
}

.service-content{
	position: absolute;
	bottom: 10px;
	left: 10px;

}
.service-content h3{
font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 34px;
padding: 0 25px;
color: #FFFFFF;

}
.service-content p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
color: #FFFFFF;
padding: 0 25px;

}
.online{
padding-top: 10px;
padding-bottom: 10px;

}
.service_content2{
	position: absolute;
	bottom: 30px;
	left: 40px;
}
.service_content2 h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 34px;

/* primary white */

color: #FFFFFF;

}
.service_content2 p{
	font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* primary white */

color: #FFFFFF;
}
.servi_text{
	position: absolute;
	bottom: 20px;
	left: 45px;
}
.servi_text h3{
	font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 34px;

color: #FFFFFF;
	
}
.servi_text p{
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
margin-bottom: 0;
}

}


