.plastic{
  background-color: #F8F8F8 !important;
  margin-top: 70px;
  height: 100%;
  position: relative;
}
.plastic-all{
    padding-top: 80px;
}
.plastic_image{
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: start;
}

#uni{
  z-index: 2;

}
#humo{
  position: absolute;
  top: 8%;
  left: 17%;
  z-index: 1;
}
#unired{
  position: absolute;
  top: 16%;
  left: 33%;
  z-index: 0;
}
.plastic_content{
  padding-left: 140px;
  padding-top: 72px;
  padding-bottom: 65px;
}
.plastic_content h3{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 31.25px;
line-height: 43px;
/* identical to box height */


/* secondary color */

color: #031C29;

}
.plastic_content p{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;

/* secondary color */

color: #031C29;
}
.plastic_content button{
  /* secondary color */

background: #031C29;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
/* identical to box height */


color: #FFFFFF;
padding: 9px 60px;
border: none;

}
@media(max-width: 1024px){
  .plastic-all{
    padding-top: 80px !important;
}
  .plastic_content{
  padding-left: 40px;
  padding-top: 72px;
  padding-bottom: 65px;
}
.plastic_content h3{
  font-family: Open Sans;
font-style: normal;
font-weight: bold;
font-size: 25px;
line-height: 33px;
/* identical to box height */


/* secondary color */

color: #031C29;

}
.plastic_content p{
  font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;

/* secondary color */

color: #031C29;
}
}
@media(max-width: 1024px){

  .plastic-all{
      padding-top: 0;
      padding-left: 40px;
  }
  .plastic_image{
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    justify-content: start;
  }
  .plastic_content{
  padding-left: 140px;
  padding-top: 72px;
  padding-bottom: 65px;
}
}
@media(max-width: 768px){
  .plastic_content{
  padding-left: 40px;
  padding-top: 72px;
  padding-bottom: 15px;
}
.plastic-all{
      padding-top: 20px !important;
      padding-left: 35px; 
      padding-right: 15px; 
  }
}
@media(max-width: 425px){

  .plastic-all{
      padding-top: 0;
      padding-left: 15px; 
      padding-right: 15px; 
  }
  .plastic_image{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: start;
  }
  #uni{
  z-index: 2;
  width: 100%;

}
#humo{
  position: relative;
  margin-top: 10px;
  width: 100%;
  top: 8%;
  left: 0;
  z-index: 1;
}
#unired{
  margin-top: 10px;
  position: relative;
  top: 16%;
  left: 0;
  z-index: 0;
  width: 100%;
}
}

