.video-content span{
      color: #8F8F8F;
    font-weight: 300;
    font-size: 12px;


}
.video-content h4{
  font-size: 26px;
    font-weight: 600;
    line-height: 32px;
    color: #000000;

}
.video-content h6{
      font-size: 19px;
    line-height: 31px;
    color: #000000;
    font-weight: 500;

}
.video-content p{
  font-size: 19px;
    line-height: 31px;
    color: #000000;
}