*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
;
}

/* .content{
  min-height: calc(100vh - 70px - 64px);
} */


.containere{
  width: 1300px !important;
  margin: 0 auto;
}
.content{
  min-height: calc(100vh - 70px - 64px);
}
